header
    position: relative
    height: 67vw
    .navbar
        .navbar-nav
            text-transform: uppercase
            font-family: 'ubuntu'
            .active
                background-color: $colorRed
                .nav-link
                    &:hover
                        background-color: $colorRed
                    &:active
                        background-color: $colorRed !important




    .carousel
        position: absolute
        top: 0
        z-index: -99
        .carousel-inner
            img
                filter: brightness(0.3)

    .contenu
        position: relative
        .main-text
            font-family: 'courgette'
            position: absolute
            top: 40%
            left: 50%
            transform: translate(-50%)
            color: #FFF

            .btn
                font-family: 'ubuntu'
                text-transform: uppercase
                border-radius: 20px

    .decor
        background-image: url('../img/bottom_decoration_img.png')
        height: 10px
        background-color: black
        opacity: 0.7

        




@media (max-width: 770px)
    header
        .navbar-collapse
            z-index: 99
            background-color: white
            .nav-link
                color: black !important

        .contenu
            .main-text
                top: 30%
                left: 0
                transform: translateX(0)

        


